body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ADE9FF
}

h1 {
    text-align: center;
}

form {
    margin-left: 10%;
    margin-right: 20%
}

// table {
//     thead {
//         background-color: #E6E6E6;
//     },
//     tbody {
//         background-color: white;
//     }
// }

table thead {
        background-color: #E6E6E6;
}

table tbody {
        background-color: white;
}
